*
	box-sizing: border-box
body
	+bold
	color: $text-color
h1, h2, h3, h4
	margin: 0
	padding: 0
ul, li
	margin: 0
	height: 0
a
	text-decoration: none
	color: $text-color
.container
	width: 890px
	margin: auto
.button
	border: 3px solid $text-color
	background-color: transparent
	padding: 8px 48px
	text-transform: uppercase
	+bold
