.text
	margin-top: 12px
.offer
	padding-top: 50px
	text-align: center
	height: 350px
	&-block 
		display: flex
		justify-content: space-between
		align-items: center
	&__item
		width: 33%
		position: relative
		padding: 50px 0
	&__img
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		margin: auto
	&__text
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		margin-top: 100px
	&__title
		margin-top: 20px
		font-size: 25px
		margin-bottom: 15px
	&__subtitle
		display: block
		margin-bottom: 38px
		font-size: 17px
		line-height: 20px
		+reg